<div class="container">
  <div class="card">
    <h2>Connexion</h2>
    <div *ngIf="errorMessage1" class="alert alert-danger" role="alert">
      {{ errorMessage1 }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <form>
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" [(ngModel)]="email">

      <label for="password">Mot de passe</label>
      <div class="input-group">
        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" [(ngModel)]="password1">
        <div class="input-group-append">
            <span class="input-group-text" (click)="toggleShowPassword()">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
        </div>
      </div>
      <br>
      <button type="submit" (click)="login()">Se connecter</button>
    </form>
    <div class="switch">Pas de compte? <a routerLink="/register" >S'inscrire</a></div>
  </div>
</div>
