<ngx-spinner
  size="medium"
  color="#fff"
  type="ball-scale-multiple" >
  <p style="font-size: 20px; color: white">Chargement...</p>
</ngx-spinner>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des entrepôts</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">
          <i class="fa fa-plus-circle"></i> Nouveau entrepôt
        </button>
      </div>
      <br/>

      <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        Opération effectuée avec succès!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hideSuccessMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Nom entrepôt</th>
          <th scope="col">Adresse</th>
          <th scope="col">Capacité</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entrepot of entrepotData">
          <td>{{ entrepot.nomEntrepot }}</td>
          <td>{{ entrepot.adresse }}</td>
          <td>{{ entrepot.capacite }}</td>
          <td>{{ entrepot.typeEntrepot }}</td>
          <td>{{ entrepot.description }}</td>
          <td>
            <button type="button" class="btn btn-info mr-1" (click)="getAllDetails(entrepot)" data-toggle="modal" data-target="#detailsModal" data-whatever="@mdo">
              <i class="fa fa-info-circle"></i>
            </button>
            <button type="button" class="btn btn-secondary mr-1" (click)="getAllDetails(entrepot)" data-toggle="modal" data-target="#editModal" data-whatever="@mdo">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="setEntrepotToDelete(entrepot)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delModalLabel">Suppression d'un entrepôt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        êtes vous-sûr de supprimer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="deleteEntrepot()">Supprimer</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="editModalLabel">Modifier un entrepôt</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="namEntE">Nom entrepot</label>
              <input type="text" formControlName="edit_nomEntrepot" [value]="entrepotDetail?.nomEntrepot" class="form-control" id="namEntE" placeholder="Nom">
            </div>
            <div class="form-group col-md-6">
              <label for="adresseE">Adresse</label>
              <input type="text" formControlName="edit_adresse" [value]="entrepotDetail?.adresse" class="form-control" id="adresseE" placeholder="Adresse">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="capaciteE">Capacité</label>
              <input type="number" formControlName="edit_capacite" [value]="entrepotDetail?.capacite" class="form-control" id="capaciteE" placeholder="Capacité">
            </div>
            <div class="form-group col-md-6">
              <label for="typeE">Type d'entrepot</label>
              <input type="text" formControlName="edit_typeEntrepot" [value]="entrepotDetail?.typeEntrepot" class="form-control" id="typeE" placeholder="Type">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="descriptionE">Description</label>
              <input type="text" formControlName="edit_description" [value]="entrepotDetail?.description" class="form-control" id="descriptionE" placeholder="Description">
            </div>
            <div class="form-group col-md-6">
              <label for="conditionE">Condition de stockage</label>
              <input type="text" formControlName="edit_conditionStockage" [value]="entrepotDetail?.conditionStockage" class="form-control" id="conditionE" placeholder="Condition">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="updateEntrepot(entrepotDetail)">Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="addModalLabel">Ajouter un nouveau entrepôt</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="entrepotForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="namEnt">Nom entrepot</label>
              <input type="text" formControlName="nomEntrepot" class="form-control" id="namEnt" placeholder="Nom" required>
            </div>
            <div class="form-group col-md-6">
              <label for="adresse">Adresse</label>
              <input type="text" formControlName="adresse" class="form-control" id="adresse" placeholder="Adresse" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="capacite">Capacité</label>
              <input type="number" formControlName="capacite" class="form-control" id="capacite" placeholder="Capacité" required>
            </div>
            <div class="form-group col-md-6">
              <label for="type">Type d'entrepot</label>
              <input type="text" formControlName="typeEntrepot" class="form-control" id="type" placeholder="Type" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="description">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description" placeholder="Description" required>
            </div>
            <div class="form-group col-md-6">
              <label for="condition">Condition de stockage</label>
              <input type="text" formControlName="conditionStockage" class="form-control" id="condition" placeholder="Condition" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="addEntrepot()" [disabled]="entrepotForm.invalid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="detailsModalLabel">Détails entrepôt</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nom entrepot</label>
              <input type="text" formControlName="nomEntrepot" [value]="entrepotDetail?.nomEntrepot" class="form-control" [readOnly]="true">
            </div>
            <div class="form-group col-md-6">
              <label>Adresse</label>
              <input type="text" formControlName="adresse" [value]="entrepotDetail?.adresse" class="form-control" [readOnly]="true">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Capacité</label>
              <input type="number" formControlName="capacite" [value]="entrepotDetail?.capacite" class="form-control" [readOnly]="true">
            </div>
            <div class="form-group col-md-6">
              <label>Type d'entrepot</label>
              <input type="text" formControlName="typeEntrepot" [value]="entrepotDetail?.typeEntrepot" class="form-control" [readOnly]="true">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Description</label>
              <input type="text" formControlName="description" [value]="entrepotDetail?.description" class="form-control" [readOnly]="true">
            </div>
            <div class="form-group col-md-6">
              <label>Condition de stockage</label>
              <input type="text" formControlName="conditionStockage" [value]="entrepotDetail?.conditionStockage" class="form-control" [readOnly]="true">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
