<div class="container">
  <div class="card">
    <h2>Formulaire d'inscription</h2>
    <form>
      <label for="email">Email <span style="color: red">*</span></label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" [(ngModel)]="email">

      <label for="password">Mot de passe <span style="color: red">*</span></label>
      <div class="input-group">
        <input type="{{ showPassword ? 'text' : 'password' }}" type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" [(ngModel)]="password1">
        <div class="input-group-append">
            <span class="input-group-text" (click)="toggleShowPassword()">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
        </div>
      </div>
      <br>

      <button type="submit" (click)="register()">Inscription</button>
    </form>
    <div class="switch">Déjà un compte? <a href="/login" onclick="switchCard()">Se connecter</a></div>
  </div>
</div>

